

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #0d6efd;
}

.App {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
margin: 100px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0a58ca;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f8f9fa;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .App {
    width: 80%;
    padding: 10px;
    height: 50vh;
  }

  input[type="text"] {
    width: 60%;
  }

  button {
    width: 30%;
  }
}
